@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jr5zvl');
  src:  url('fonts/icomoon.eot?jr5zvl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jr5zvl') format('truetype'),
    url('fonts/icomoon.woff?jr5zvl') format('woff'),
    url('fonts/icomoon.svg?jr5zvl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biohazard:before {
  content: "\e908";
}
.icon-webhook:before {
  content: "\e909";
}
.icon-alert:before {
  content: "\e900";
}
.icon-Home:before {
  content: "\e901";
}
.icon-notification:before {
  content: "\e902";
}
.icon-settings:before {
  content: "\e903";
}
.icon-Topology:before {
  content: "\e904";
}
.icon-total-alerts:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
.icon-Vulnerabilities:before {
  content: "\e907";
}
